<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoanApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DBD558A2BD35B2F00CEF757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBD559F2BD35B9D00CEF757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD4C5C42BD9522B0056FE9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
